@font-face {
  font-family: CharisSILW;
  src: url(../fonts/charis-sil/CharisSIL-R.woff);
}
@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(../fonts/charis-sil/CharisSIL-I.woff);
}
@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(../fonts/charis-sil/CharisSIL-B.woff);
}
@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/charis-sil/CharisSIL-BI.woff);
}
@font-face {
  font-family: "Fira Mono";
  src: url(../fonts/fira-mono/FiraMono-Regular.woff);
}
@font-face {
  font-family: "Fira Mono";
  font-weight: 400;
  src: url(../fonts/fira-mono/FiraMono-Medium.woff);
}
@font-face {
  font-family: "Fira Mono";
  font-weight: bold;
  src: url(../fonts/fira-mono/FiraMono-Bold.woff);
}
/* the geometry of the paper */
/* the size of the crop marks*/
/* the size of bleed */
/* EXTRA SPACE AROUND THE PAGE: BLEED + CROP */
/* GEOMETRY OF THE PAGE */
/* SIZE OF SPREAD */
@media all {
  .page-break {
    page-break-before: always;
  }
  .content-region {
    region-fragment: break;
  }
  #text-wrapper {
    margin: 0;
  }
  #text-wrapper section {
    padding: 0;
    margin: 0;
  }
  #text-wrapper .maintitle {
    color: red !important;
    top: 0;
    left: 0;
    transform: translate(0, 0px);
    width: 90%;
    padding: 0;
    font-weight: bold;
    z-index: 0;
    line-height: 15pt;
    margin: 0;
    page-break-after: always;
    break-after: always;
  }
  #text-wrapper .maintitle #fromtext,
  #text-wrapper .maintitle #toprocess {
    line-height: 16pt;
  }
  #text-wrapper .maintitle div:first-child {
    font-size: 100pt;
    line-height: 90pt;
    padding-bottom: 20mm;
    padding-top: 30mm;
  }
  #text-wrapper .maintitle div:first-child span:first-child:before {
    content: "   ";
    padding-bottom: 50mm;
  }
  #text-wrapper .maintitle div:first-child span:nth-child(3) {
    font-size: 90%;
    letter-spacing: -1mm;
  }
  #text-wrapper .maintitle div:nth-child(2) {
    font-size: 12pt;
  }
  #text-wrapper .table-of-contents {
    border: none;
    padding: 0;
  }
  #text-wrapper .table-of-contents h1 {
    font-size: 16pt;
  }
  #text-wrapper .table-of-contents #toc-list {
    font-size: 12pt;
  }
  #text-wrapper #content section {
    padding: 0;
    margin: 0;
  }
  #text-wrapper #content h1 {
    font-size: 40pt;
    region-fragment: break;
    margin: 0;
    text-align: left;
    padding: 0;
    padding-bottom: 10mm;
    padding-top: 0mm;
    break-before: always;
  }
  #text-wrapper #content h2 {
    font-size: 20pt;
    padding: 0;
    text-align: left;
    padding-top: 10mm;
  }
  #text-wrapper #content p {
    width: 156mm;
    font-size: 14pt;
    line-height: 16pt;
    margin: 0;
    text-indent: 12mm;
  }
  #text-wrapper #content blockquote {
    page-break-inside: avoid;
  }
  #text-wrapper #content blockquote ol,
  #text-wrapper #content blockquote p {
    padding: 0;
    font-size: 16pt;
    line-height: 17pt;
    padding-bottom: 10mm;
    padding-top: 10mm;
  }
  #text-wrapper #content blockquote ol {
    padding-bottom: 0;
    margin: 0;
  }
  #text-wrapper #content .references {
    padding-top: 5mm;
    margin-left: 20mm;
    width: 110mm;
  }
  #text-wrapper #content .references::before {
    margin-left: 12mm;
    margin-bottom: 5mm;
    font-size: 8pt;
    font-weight: normal;
  }
  #text-wrapper #content .references ol {
    font-size: 8pt;
    width: 100%;
    line-height: 9pt;
  }
  #text-wrapper #content .references ol li {
    page-break-inside: avoid;
  }
  #text-wrapper #content .image-container {
    display: block;
    width: 210mm;
    height: 100%;
    padding-bottom: 10mm;
    padding-top: 10mm;
    position: relative;
    left: -30mm;
  }
  #text-wrapper #content .image-container img {
    width: 100%;
    display: block;
    float: none;
    padding: 0;
    margin: auto;
  }
  .break-before {
    -webkit-region-break-before: always;
  }
  .break-after {
    -webkit-region-break-after: always;
  }
}
@media print {
  html {
    width: 210mm;
    height: 297mm;
  }
  body {
    width: 210mm;
    height: 297mm;
  }
  .paper {
    width: 210mm;
    height: 297mm;
  }
}
