@font-face {
  font-family: CharisSILW;
  src: url(../fonts/charis-sil/CharisSIL-R.woff);
}
@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(../fonts/charis-sil/CharisSIL-I.woff);
}
@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(../fonts/charis-sil/CharisSIL-B.woff);
}
@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/charis-sil/CharisSIL-BI.woff);
}
@font-face {
  font-family: "Fira Mono";
  src: url(../fonts/fira-mono/FiraMono-Regular.woff);
}
@font-face {
  font-family: "Fira Mono";
  font-weight: 400;
  src: url(../fonts/fira-mono/FiraMono-Medium.woff);
}
@font-face {
  font-family: "Fira Mono";
  font-weight: bold;
  src: url(../fonts/fira-mono/FiraMono-Bold.woff);
}
#text-wrapper {
  font-family: CharisSILW;
  font-size: 11pt;
  line-height: 13pt;
}
#text-wrapper a {
  color: orangered;
  text-decoration: none;
}
#text-wrapper #maintitle {
  position: relative;
  top: 40mm;
}
#text-wrapper #maintitle .title {
  font-size: 70pt;
  line-height: 67pt;
  font-weight: 900;
  letter-spacing: -0.5mm;
  margin-bottom: 5mm;
}
#text-wrapper #maintitle .title #toprocess {
  font-family: "Fira Mono";
}
#text-wrapper #maintitle .subtitle {
  font-size: 16pt;
  line-height: 18pt;
}
#text-wrapper #table-of-contents {
  font-size: 24pt;
}
#text-wrapper #table-of-contents .toc-header {
  margin-bottom: 30mm;
  position: relative;
  left: 35mm;
}
#text-wrapper #table-of-contents div {
  font-size: 22pt;
  text-align: left;
  padding-bottom: 10mm;
  padding-top: 4mm;
  border-top: 0.5mm solid black;
  text-indent: 10mm;
  width: 100%;
  font-size: 200%;
}
#text-wrapper #table-of-contents div span {
  margin-left: 15mm;
}
#text-wrapper .chapter-heading-wrapper {
  font-size: 24pt;
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 0;
}
#text-wrapper .chapter-heading-wrapper .chapter-number {
  font-size: 35pt;
  margin-right: 43mm;
  font-weight: bold;
}
#text-wrapper .chapter-heading-wrapper h1 {
  line-height: 34pt;
  width: 63%;
}
#text-wrapper .chapter-heading-wrapper + * {
  margin-top: 40mm;
}
#text-wrapper .chapter-heading-wrapper + blockquote {
  margin-top: 15mm;
  margin-bottom: 15mm;
}
#text-wrapper p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 55mm;
  margin-right: 10mm;
  text-indent: 10mm;
}
#text-wrapper p:first-of-type {
  text-indent: 0;
}
#text-wrapper blockquote + p {
  text-indent: 0;
}
#text-wrapper .image-container + p {
  text-indent: 0;
}
#text-wrapper h2 {
  margin-left: 55mm;
  margin-bottom: 1.5mm;
  margin-top: 10mm;
}
#text-wrapper h2 ~ p {
  margin-top: 0;
}
#text-wrapper blockquote {
  font-weight: bold;
  font-size: 16pt;
  line-height: 20pt;
  break-inside: avoid;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  position: relative;
  left: -40mm;
  width: 200mm;
  margin-top: 10mm;
  margin-bottom: 10mm;
}
#text-wrapper blockquote p {
  margin: 0 !important;
}
#text-wrapper blockquote ol {
  margin-left: 50mm;
  margin-right: 10mm;
}
#text-wrapper .references {
  font-family: "Fira Mono";
  font-size: 7pt;
  line-height: normal;
  width: 60%;
  margin-left: 20mm;
  margin-top: 20mm;
  position: relative;
  left: 34mm;
}
#text-wrapper .references::before {
  content: "References";
  display: block;
  margin-bottom: 5%;
  font-size: 7pt;
  text-transform: uppercase;
  font-weight: 900;
}
#text-wrapper .references li {
  list-style: decimal !important;
}
#text-wrapper sup {
  color: orangered;
  font-size: 0.6em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
#text-wrapper .image-container {
  position: relative;
  left: -25mm;
  width: 190mm;
  margin-top: 10mm;
  margin-bottom: 10mm;
}
#text-wrapper .image-container img {
  width: 100%;
}
#text-wrapper #NationState {
  width: 160mm;
  left: -10mm;
  margin-top: 20mm;
  margin-bottom: 20mm;
}
#text-wrapper #OSIModel {
  break-after: always;
}
#text-wrapper #facebook_dossier {
  left: -10mm;
}
#text-wrapper iframe {
  display: none;
}
#text-wrapper iframe + p {
  display: none;
}
.paper .sidebar {
  width: 30mm;
  opacity: 0.9;
  height: 100%;
  position: absolute;
  top: 0;
}
.paper .sidebar .chapter-side-nav {
  font-family: CharisSILW;
  -webkit-transform: rotate(-90deg) translate(-120mm, -50mm);
  -moz-transform: rotate(-90deg) translate(-120mm, -50mm);
  -ms-transform: rotate(-90deg) translate(-120mm, -50mm);
  -o-transform: rotate(-90deg) translate(-120mm, -50mm);
  transform: rotate(-90deg) translate(-120mm, -50mm);
  opacity: 1;
  font-weight: 900;
  font-size: 20pt;
  width: 150mm;
  text-align: right;
}
