@font-face {
  font-family: CharisSILW;
  src: url(../fonts/charis-sil/CharisSIL-R.woff);
}
@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(../fonts/charis-sil/CharisSIL-I.woff);
}
@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(../fonts/charis-sil/CharisSIL-B.woff);
}
@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/charis-sil/CharisSIL-BI.woff);
}
@font-face {
  font-family: "Fira Mono";
  src: url(../fonts/fira-mono/FiraMono-Regular.woff);
}
@font-face {
  font-family: "Fira Mono";
  font-weight: 400;
  src: url(../fonts/fira-mono/FiraMono-Medium.woff);
}
@font-face {
  font-family: "Fira Mono";
  font-weight: bold;
  src: url(../fonts/fira-mono/FiraMono-Bold.woff);
}
/* the geometry of the paper */
/* the size of the crop marks*/
/* the size of bleed */
/* EXTRA SPACE AROUND THE PAGE: BLEED + CROP */
/* GEOMETRY OF THE PAGE */
/* SIZE OF SPREAD */
@media all {
  .breakme {
    page-break-after: always;
  }
}
