
html{
    width: 10000px;
}

#wrapper{
    width: 100%;
    font-family: "Source Sans Pro";
}

.article{
    font-size: 1.4em;
    width: 40vw;
    background-color: aliceblue;
    padding: 30px;
    margin: 20px;
    display: inline-block;
    float: left;
}